<!doctype html>
<html lang="en">

<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- Material Kit CSS -->
    <link href="/client/assets/css/material-kit.css?v=3.0.0" rel="stylesheet" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Freehand&display=swap');
    </style>
</head>

<body>
<!-- Navbar Transparent -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent">
    <div class="container">
        <a class="navbar-brand  text-white " href="https://demos.creative-tim.com/material-kit/presentation" alt="logo" style="font-family: Freehand, cursive;
        font-weight: 400;font-style: normal; font-size:2em">
            Restaurant Location
        </a>
        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
        </button>
        <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-auto">
                <li class="nav-item dropdown dropdown-hover mx-2 ms-lg-6">
                </li>

                <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons opacity-6 me-2 text-md">view_day</i>
                        Sections
                        <img src="/client/assets/img/down-arrow-white.svg" alt="down-arrow" class="arrow ms-auto ms-md-2 d-lg-block d-none">
                        <img src="/client/assets/img/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-auto ms-md-2 d-lg-none d-block">
                    </a>
                </li>
                <li class="nav-item dropdown dropdown-hover mx-2" id="signInNavItem">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" href="/sign-in" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">Sign In</a>
                </li>
                <form th:action="@{/logout}" method="post" id="logoutForm">
                    <li class="nav-item ms-lg-auto my-auto ms-3 ms-lg-0 mt-2 mt-lg-0">
                        <button type="submit" class="btn btn-sm bg-gradient-primary mb-0 me-1 mt-2 mt-md-0">
                            <i class="fas fa-sign-out-alt mx-1"></i> Log out
                        </button>
                    </li>
                </form>
            </ul>
        </div>
    </div>
</nav>
<!-- End Navbar -->


<div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h1 class="text-white">Restaurant Location</h1>
<!--                    <h3 class="text-white">Subtitle</h3>-->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
        <div class="section text-center">
            <div class="row text-center py-2 mt-3">
                <div class="col-4 mx-auto">
                    <div class="input-group input-group-dynamic mb-4">
                        <span class="input-group-text"><i class="fas fa-map-marker-alt fa-lg"></i></span>
                        <input class="form-control" id="searchInput" placeholder="Tìm kiếm địa điểm..." type="text">
                        <button class="btn btn-outline-primary" type="button" id="searchButton">Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <div id="googleMap" style="width: 100%; height: 650px;"></div>
        </div>
    </div>
</div>
<footer class="footer pt-5 mt-5">
    <div class="container">
        <div class=" row">
            <div class="col-md-3 mb-4 ms-auto">
                <div>
                    <a href="https://www.creative-tim.com/product/material-kit">
                        <img src="/client/assets/img/logo-ct-dark.png" class="mb-3 footer-logo" alt="main_logo">
                    </a>
                    <h6 class="font-weight-bolder mb-4">Material Kit 2</h6>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-6 mb-4">
                <div>
                    <h6 class="text-sm">Company</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/presentation" target="_blank">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/templates/free" target="_blank">
                                Freebies
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/templates/premium" target="_blank">
                                Premium Tools
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/blog" target="_blank">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-6 mb-4">
                <div>
                    <h6 class="text-sm">Resources</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://iradesign.io/" target="_blank">
                                Illustrations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/bits" target="_blank">
                                Bits & Snippets
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/affiliates/new" target="_blank">
                                Affiliate Program
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-6 mb-4">
                <div>
                    <h6 class="text-sm">Help & Support</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/contact-us" target="_blank">
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/knowledge-center" target="_blank">
                                Knowledge Center
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://services.creative-tim.com/?ref=ct-mk2-footer" target="_blank">
                                Custom Development
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/sponsorships" target="_blank">
                                Sponsorships
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
                <div>
                    <h6 class="text-sm">Legal</h6>
                    <ul class="flex-column ms-n3 nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/knowledge-center/terms-of-service/" target="_blank">
                                Terms & Conditions
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/knowledge-center/privacy-policy/" target="_blank">
                                Privacy Policy
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.creative-tim.com/license" target="_blank">
                                Licenses (EULA)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <p class="text-dark my-4 text-sm font-weight-normal">
                        All rights reserved. Copyright © <script>
                        document.write(new Date().getFullYear())
                    </script> Material Kit by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>
<head>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsyPzmPpmTEy1Oa5Inpn8deRc3cfUgiv4&callback=initMap" async defer></script>
</head>
<script>
function checkLoggedInStatus() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    var loggedIn = JSON.parse(xhr.responseText);
                    toggleAuthentication(loggedIn);
                } else {
                    console.error('Error occurred while checking logged-in status.');
                }
            }
        };
        xhr.open('GET', '/get-logged-in-status');
        xhr.send();
    }

    function toggleAuthentication(loggedIn) {
        var signInNavItem = document.getElementById("signInNavItem");
        var logoutForm = document.getElementById("logoutForm");

        if (loggedIn) { // Đã đăng nhập, chuyển sang trạng thái đăng xuất
            signInNavItem.style.display = "none";
            logoutForm.style.display = "block";
        } else { // Chưa đăng nhập, chuyển sang trạng thái đăng nhập
            signInNavItem.style.display = "block";
            logoutForm.style.display = "none";
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        checkLoggedInStatus();
    });
</script>
<script>
    function initMap() {

        // Lấy vị trí hiện tại của người dùng
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var userLocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                // Khởi tạo bản đồ và đặt vị trí mặc định là vị trí hiện tại của người dùng
                var map = new google.maps.Map(document.getElementById('googleMap'), {
                    center: userLocation,
                    zoom: 12
                });

                // Thêm đánh dấu tại vị trí hiện tại của người dùng
                var marker = new google.maps.Marker({
                    position: userLocation,
                    map: map,
                    title: 'Vị trí của bạn'
                });

                // Lấy giá trị từ trường tìm kiếm
                var searchInput = document.getElementById('searchInput').value;

                // Tìm kiếm vị trí
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({'address': searchInput}, function(results, status) {
                    if (status === 'OK') {
                        // Tìm thấy vị trí
                        var location = results[0].geometry.location;

                        // Thêm đánh dấu và di chuyển bản đồ
                        var marker = new google.maps.Marker({
                            position: location,
                            map: map,
                            title: searchInput
                        });
                        map.setCenter(location);

                        // Phóng to bản đồ đến mức độ 15
                        map.setZoom(15);
                    } else {
                        // Lỗi Geocoding
                        console.log('Lỗi Geocoding:', status);
                    }
                });
            });
        } else {
            // Trình duyệt không hỗ trợ Geolocation API
            console.log('Trình duyệt không hỗ trợ Geolocation API');
        }

        // Thêm sự kiện click cho button
        document.getElementById('searchButton').addEventListener('click', function() {
            // Lấy giá trị từ input
            var searchInput = document.getElementById('searchInput').value;

            // Tìm kiếm vị trí
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({'address': searchInput}, function(results, status) {
                if (status === 'OK') {
                    // Tìm thấy vị trí
                    var location = results[0].geometry.location;

                    // Di chuyển bản đồ đến vị trí tìm kiếm
                    map.setCenter(location);

                    // Thêm đánh dấu tại vị trí tìm kiếm
                    var marker = new google.maps.Marker({
                        position: location,
                        map: map,
                        title: searchInput
                    });
                } else {
                    // Lỗi Geocoding
                    console.log('Lỗi Geocoding:', status);
                }
            });
        });

    }
    // Gọi hàm initMap khi trang web tải xong
    window.onload = initMap;
</script>
